<ion-header>
	<ion-toolbar>
	  <ion-buttons slot ="start">
	   <ion-back-button></ion-back-button>
	  </ion-buttons>
	  <ion-title>Gérer mon profil</ion-title>
	</ion-toolbar>
  </ion-header>

<ion-content>
	<div class="padding">
    <form [formGroup]="updateForm" (ngSubmit)="update()" >

		
	
    
			<ion-item>
				<ion-label position="floating">Nom</ion-label>
				<ion-input formControlName="nom" placeholder='{{ fname }}' type="text" ></ion-input>
      </ion-item>
      <ion-item>
				<ion-label position="floating">Prénom</ion-label>
				<ion-input formControlName="prenom" placeholder='{{ sname }}' type="text"></ion-input>
			</ion-item>
			<ion-item >
				<ion-label >Nationalité</ion-label>
				<ion-select required value="Tunisienne" formControlName="nationalite" color="light" cancelText="Annuler">
				  <ion-select-option value="Tunisienne">Tunisienne</ion-select-option>
				  <ion-select-option value="Française">Française</ion-select-option>
				  <ion-select-option value="Allemande">Allemande</ion-select-option>
				  <ion-select-option value="Néerlandaise">Néerlandaise</ion-select-option>
				  <ion-select-option value="Danoise">Danoise</ion-select-option>
				  <ion-select-option value="Suédoise">Suédoise</ion-select-option>
				  <ion-select-option value="Finlandaise">Finlandaise</ion-select-option>
				  <ion-select-option value="Britanique">Britanique</ion-select-option>
				  <ion-select-option value="Italienne">Italienne</ion-select-option>
				  <ion-select-option value="Islandaise">Islandaise</ion-select-option>
				  <ion-select-option value="Polonaise">Polonaise</ion-select-option>
				  <ion-select-option value="Russe">Russe</ion-select-option>
				  <ion-select-option value="Tchèque">Tchèque</ion-select-option>
				  <ion-select-option value="Cubaine">Cubaine</ion-select-option>
				  <ion-select-option value="Américaine">Américaine</ion-select-option>
				  <ion-select-option value="Canadienne">Canadienne</ion-select-option>
				  <ion-select-option value="Grecque">Grecque</ion-select-option>
				  <ion-select-option value="Turque">Turque</ion-select-option>
				  <ion-select-option value="Belge">Belge</ion-select-option>
				  <ion-select-option value="Suisse">Suisse</ion-select-option>
				  <ion-select-option value="Serbe">Serbe</ion-select-option>
				  <ion-select-option value="Mexicaine">Mexicaine</ion-select-option>
				  <ion-select-option value="Brésilienne">Brésilienne</ion-select-option>
				  <ion-select-option value="Afghanne">Afghanne</ion-select-option>
				  <ion-select-option value="Algérienne">Algérienne</ion-select-option>
				  <ion-select-option value="Sud-africainne">Sud-africainne</ion-select-option>
				  <ion-select-option value="Anglaise">Anglaise</ion-select-option>
				  <ion-select-option value="Angolaise">Angolaise</ion-select-option>
				  <ion-select-option value="Saoudienne">Saoudienne</ion-select-option>
				  <ion-select-option value="Australienne">Australienne</ion-select-option>
				</ion-select>
			  </ion-item>
      <ion-item>
				<ion-label position="floating">Email</ion-label>
				<ion-input formControlName="mail" placeholder='{{ email }}' type="email"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label position="floating">Nouveau mot de passe?</ion-label>
				<ion-input formControlName="newmdp" name="newmdp" type="password" ></ion-input>
			</ion-item>
			<small *ngIf="mdpass == newmdp.value" class="form-text text-danger">Il s'agit de votre ancien mot de passe !</small><br>
			<small *ngIf="newmdp.touched && !newmdp2.touched" class="form-text text-danger">Veuillez resaisir votre nouveau mot de passe</small>
			<ion-item>
				<ion-label position="floating">Confirmez votre nouveau mot de passe</ion-label>
				<ion-input formControlName="newmdp2" name="newmdp2" type="password" ></ion-input>
			</ion-item>
			<small *ngIf="newmdp.value != newmdp2.value && newmdp2.touched" class="form-text text-danger">Les mots de passe ne sont pas identiques</small>
			<ion-item>
				<ion-label position="floating">Ancien mot de passe</ion-label>
        <ion-input required formControlName="mdp" type="password"></ion-input>
        <div>
          <small *ngIf="mdp.errors?.required && !mdp.touched" class="form-text text-danger">La saisie de votre mot de passe est obligatoire</small><br>
		  <small *ngIf="mdpass != mdp.value && mdp.touched" class="form-text text-danger">Votre ancien mot de passe est invalide</small>
      </div>
			</ion-item>
      
			<ion-button default-button [disabled]="mdpass != mdp.value" fill="solid" expand="block" color="dark" type="submit" >Enregistrer</ion-button>
		 </form> 
		 <br>
		<p align="center" *ngIf=modif>Modifié avec succès !</p> <br>
		</div> 

	

</ion-content>
