<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-label>Sites à proximité </ion-label>
  </ion-toolbar>
  
    
      
    
    <ion-list>
      
    
     
    
      <ion-item>
        <ion-icon name="location"></ion-icon>
        <ion-label>Ta région</ion-label> 
        
        <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select One">
          <ion-select-option value=" Position">Grand Tunis,Tunisie </ion-select-option> 
          <ion-select-option value="sousse">Sousse,Tunisie</ion-select-option>
          <ion-select-option value="hammamet">Hammamet,Tunisie</ion-select-option>
          <ion-select-option value="sfax">Sfax,Tunisie</ion-select-option>
          <ion-select-option value="beja">BéjA,Tunisie</ion-select-option>
          <ion-select-option value="toutes">Toutes les régions</ion-select-option>
        </ion-select>
      </ion-item>
    
      
    
    </ion-list>
  </ion-header>
 

    <ion-content>
      <ion-button color="success" (click)="presentAlert()">
        A proximité de moi
      </ion-button>
    </ion-content>

    
    

  
    
       
  



          




  

   
 

  