<ion-header>
  <ion-toolbar>
    <ion-title>You have to sign in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" align="center"> 
      <ion-button [routerLink]="['/login']">Login</ion-button><br>
      <ion-button [routerLink]="['/register']">Register</ion-button><br>
      <ion-button [routerLink]="['/home']">Home</ion-button>
  </div>
</ion-content>
