<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
<div align="center"><p>Vous devez se connecter pour découvrir le patrimoine tunisien</p></div>
  <div id="container" align="center"> 
      <ion-button [routerLink]="['/login']">Login</ion-button><br>
      <ion-button [routerLink]="['/register']">Register</ion-button><br>
  </div>
</ion-content>
