<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>scan</ion-title>
  </ion-toolbar>
</ion-header>




  <ion-content padding text-center>
 
    <ion-button (click)="selectImage()"><font size='3'>
      choisir votre image pour repositionner</font>
    </ion-button>
   
    <h5 *ngIf="croppedImagepath.length">image repositionné</h5>
   
    <p *ngIf="isLoading">chargement ...</p>
   
    <img [src]="croppedImagepath" />
    <br><br>
    <div align="center"><ion-button (click)="selectLang()"><font size='3'>
      Langue désirée pour la description</font>
    </ion-button></div>
    <div align="center"><ion-button [routerLink]="['/affiche']">Voir la description</ion-button></div><br>
  
</ion-content>
