<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>scan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content padding text-center>
 
    <ion-button (click)="selectImage()">
      choisir votre image pour repositionner
    </ion-button>
   
    <h5 *ngIf="croppedImagepath.length">image repositionné</h5>
   
    <p *ngIf="isLoading">chargement ...</p>
   
    <img [src]="croppedImagepath" />
    <br><br>
    <ion-button (click)="selectLang()">
      choisir la langue désirée pour la description
    </ion-button>
   
  </ion-content>
</ion-content>
