<ion-header>
  <ion-toolbar>
    <ion-buttons slot ="start">
      <ion-back-button></ion-back-button>
     </ion-buttons>
    <ion-title>monuments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let monument of monuments">
    <img src= "{{monument.image}}" /> 
      <ion-card-header>
        <ion-card-title> {{ monument.titre }}</ion-card-title>
      </ion-card-header>
  </ion-card>
  <div align="center">
  <ion-button >Evaluer le site</ion-button><br><br>
      <ion-col size="16">
        <ion-icon name="star-outline" *ngFor="let c of [1,2,3,4,5]"></ion-icon>
      </ion-col>
</div> <br> <br>

</ion-content>
