<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sites favoris</ion-title>
  </ion-toolbar>
  
</ion-header>
<ion-content id="produtos" [fullscreen]="true">
<div class="scroll-horizontal">
  <ion-card *ngFor="let i of sites" >
    <img src= "{{i.image}}" /> 
    <ion-card-header>
      <ion-card-title ><div align="center">{{ i.titre }}</div></ion-card-title><br>
      <ion-card-subtitle><div align="center"><ion-icon name="globe" slot="start"></ion-icon> Adresse </div></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <h2 align="center">{{ i.adresse}}</h2><br>
      <div align="center"><ion-button slot="end" fill="outline" [routerLink]="['site', i.id ]" >Consulter</ion-button></div>
      <div align="center">
      
    </div>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>