<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Monuments favoris</ion-title>
  </ion-toolbar>
  
</ion-header>
<ion-content id="produtos" [fullscreen]="true">
<div class="scroll-horizontal">
  <ion-card *ngFor="let i of similaires" id="doces">
    <ion-img [src]="i.imagemUrl" style="width: 100%;height: 130px;"> </ion-img>
    <ion-card-content>
      <ion-item>
        <h2>{{ i.nome }}</h2>
        <p>{{ i.descricao }}</p>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-icon name="star" color="warning" *ngFor="let c of [1,2,3,4,5]"></ion-icon>
          </ion-col>
          </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>