<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot ="start">
      <ion-back-button></ion-back-button>
     </ion-buttons>
    <ion-title>Le monument scanné</ion-title>
  </ion-toolbar>
  
</ion-header>




<ion-content id="produtos" [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>     Monument reconnu 
        <ion-icon name="checkbox"></ion-icon>
         </ion-card-subtitle>
     
      <img src="./assets/122.jpg" />
      <ion-card-title>Titre de monument</ion-card-title>

    </ion-card-header>
  
    <ion-card-content>
      Description du monument
    </ion-card-content>
  </ion-card>


  <ion-item-divider color="light">
    <h2>les images similaires</h2>
    <span slot="end" class="ion-margin"><small>{{similaires?.length}} similaires</small>
      <ion-icon name="arrow-forward"></ion-icon>
    </span>
  </ion-item-divider>
  <br />
  <div class="scroll-horizontal">
    <ion-card *ngFor="let i of similaires" id="doces">
      <ion-img [src]="i.imagemUrl" style="width: 100%;height: 130px;"> </ion-img>
      <ion-card-content>
        <div align="center">
          {{ i.description }}
      </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
