<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
        <div align="center"><p><font size="2.5" color="#000066">Découvrez la richesse du patrimoine tunisien à travers le musée du Bardo</font></p></div>
        
          <ion-card>
            
            <img src="./assets/bardo.jpg" />
            <ion-card-header>
              <ion-card-subtitle><div align="center"><ion-icon name="globe" slot="start"></ion-icon>    Adresse</div></ion-card-subtitle>
              <ion-card-title ><div align="center">la banlieue du Bardo, Route Nationale 7</div></ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <div align="center">Le musée national du Bardo est un musée de Tunis, fondée en 7 mai 1888, est l'un des plus importants musées du bassin méditerranéen et le second musée du continent africain après le musée égyptien du Caire par la richesse de ses collections.</div>
              <br>
              <div align="center"><ion-button slot="end" fill="outline">Voir les monuments</ion-button></div>
            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-item href="#" class="ion-activated">
              <ion-icon name="pin" slot="start"></ion-icon>
              <ion-label><font size="3">Découvrez!</font></ion-label>
              <ion-button fill="outline" slot="end">View</ion-button>
            </ion-item>
            <ion-card-content>
              <div align="center">scannez ou importez une image de l'un des monuments du musée be Bardo pour avoir sa desciption et ses images similaires.</div>
            </ion-card-content>
          </ion-card>
         
          <ion-card>
            <ion-item href="#" class="ion-activated">
              <ion-icon name="pin" slot="start"></ion-icon>
              <ion-label><font size="3">Consulter!</font></ion-label>
              <ion-button fill="outline" slot="end">View</ion-button>
            </ion-item>
            <ion-card-content>
              <div align="center">consultez d'autres sites dans la carte géographique de la Tunisie.</div>
            </ion-card-content>
          </ion-card>

        <br><BR><br>
</ion-content>